*{
  text-align: center;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section{
  border: 1px solid navy ;
  width: 380px;
  padding: 0.5rem;
  background-color: rgba(0, 0, 128, 0.42);
  margin: 0.2rem;
}

img {
  box-shadow: 4px 4px #000;
}

h2 {
  color: navy;
  font-size: 2rem;
  text-decoration: underline;
}

p {
  font-weight: 700;
  color: #fff;
}