body {
  font-family: "Roboto", sans-serif;
}

header,
main,
footer {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid #b6dfdb;
  padding: 1rem;
  background-color: #5fb3f9;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

section {
  padding: 1rem;
  background-color: #ffffff;
}
